<wm-page data-ng-controller="MyRequestsPageController" name="page1">
    <wm-left-panel content="leftnav" name="left_panel1" animation="slide-over"></wm-left-panel>
    <wm-mobile-navbar name="mobile_navbar1" title="My Requests" backbutton="false"></wm-mobile-navbar>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1" padding="10px unset unset unset">
            <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" dataset="bind:Variables.getAllRequestByUserID.dataSet" navigation="None" padding="0px" nodatamessage="No Requests Found." show="true" name="livelist2_1" class="no-select">
                <wm-listtemplate layout="media" name="listtemplate2_1">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn1" horizontalalign="center" padding="10px unset unset unset">
                                <wm-icon name="icon5" iconclass="bind:(Variables.getAllRequestByUserID.dataSet[$i].STATUS == 'Approved') ? 'wi wi-check-circle fa-3x' : ((Variables.getAllRequestByUserID.dataSet[$i].STATUS == 'Rejected')?'wi wi-highlight-off fa-3x':'wi wi-add-circle fa-3x')"></wm-icon>
                                <wm-label name="label15" caption="bind:Variables.getAllRequestByUserID.dataSet[$i].STATUS" width="auto" textalign="center" color="#fff"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="9" name="gridcolumn2" padding="0px unset">
                                <wm-layoutgrid name="layoutgrid2">
                                    <wm-gridrow name="gridrow4" padding="0px unset">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn10" padding="0px unset">
                                            <wm-label caption="bind:Variables.getAllRequestByUserID.dataSet[$i].TRIP_NAME" margin="0em unset unset unset" fontsize="1" fontunit="em" whitespace="nowrap" width="auto" color="#7A8B92" name="label16" fontweight="bold"></wm-label>
                                            <wm-label caption="bind:'Raised On '+ Variables.getAllRequestByUserID.dataSet[$i].CREATED_DATE | toDate: 'dd MMM, yyyy'" margin="0em unset unset 1em" fontsize="1" fontunit="em" whitespace="nowrap"
                                            color="#7A8B92" name="RaisedOn" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow5" padding="0px unset">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn13" padding="0px unset">
                                            <wm-label caption="bind:Variables.getAllRequestByUserID.dataSet[$i].fromCity" whitespace="nowrap" width="auto" color="#7A8B92" name="label11" margin="unset 1em unset unset" fontweight="bold"></wm-label>
                                            <wm-icon iconclass="wi wi-swap-horiz fa-lg fa-fw" name="icon4"></wm-icon>
                                            <wm-label caption="bind:Variables.getAllRequestByUserID.dataSet[$i].toCity" whitespace="nowrap" width="auto" color="#7A8B92" name="label12" margin="unset unset unset 1em" fontweight="bold"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow6" padding="0px unset">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn16" padding="0px unset" horizontalalign="left">
                                            <wm-label caption="bind:(Variables.getAllRequestByUserID.dataSet[$i].DEPT_DATE| toDate: 'dd MMM, yyyy') +'   -   '+ (Variables.getAllRequestByUserID.dataSet[$i].RETURN_DATE| toDate: 'dd MMM, yyyy')" whitespace="nowrap"
                                            fontweight="bold" color="#7A8B92" margin="unset unset unset 0.5%" name="label14"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-listtemplate>
            </wm-livelist>
        </wm-page-content>
    </wm-content>
</wm-page>