<wm-page data-ng-controller="LoginPageController" name="page1"> 
    <wm-content name="content1" backgroundrepeat="no-repeat" backgroundattachment="fixed" height="100%"> 
        <wm-page-content columnwidth="12" name="page_content1" backgroundrepeat="no-repeat" backgroundattachment="scroll" backgroundimage="resources/images/imagelists/loginBG.jpg" backgroundsize="100%,100%"> 
            <wm-container name="container1" padding="15em 2em unset 2em" horizontalalign="center"> 
                <wm-composite name="userNameField" margin="1% 3%"> 
                    <wm-text placeholder="User Name" name="usernametext" class="app-login-username" width="100%" autocomplete="off" autocorrect="off" autocapitalize="off" updateon="default" color="#ffffff" fontsize="1.2" fontunit="em" datavalue="demouser"></wm-text> 
                </wm-composite> 
                <wm-composite name="passwordField" margin="1% 3%"> 
                    <wm-text type="password" name="passwordtext" placeholder="Password" class="app-login-password" width="100%" autocomplete="off" autocorrect="off" autocapitalize="off" updateon="default" color="#ffffff" datavalue="wavemaker"></wm-text> 
                </wm-composite> 
                <wm-button type="submit" caption="Log In" class="app-login-button btn-primary" name="loginButton" width="90%" on-tap="Variables.loginVariable.invoke()" color="#ffffff" backgroundcolor="#0F2835"></wm-button> 
            </wm-container> 
        </wm-page-content> 
    </wm-content> 
</wm-page>